@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .fade-in {
    @apply opacity-100 transition-opacity duration-1000;
  }

  .repeat-infinite {
    animation-iteration-count: infinite;
  }

  .direction-reverse {
    animation-direction: reverse;
  }

  .ease-linear {
    transition-timing-function: linear;
    animation-timing-function: linear;
  }
}
